<thead class="thead-dark">
  <tr>
    <th><%= link_to extension.name, extension.url %></th>
    <th></th>
    <th><%= link_to 'Edit', edit_extension_path(extension) %></th>
    <th><%= link_to 'Delete', extension, method: :delete, data: { confirm: 'Are you sure?' } %></th>
  </tr>
</thead>
<thead class="thead-light">      
  <tr>
    <th></th>
    <th>Version</th>
    <th>Date Updated</th>
    <th>Reviewed?</th>
  </tr>
</thead>
<tbody>
  <% extension.updates.each do |update| %>
    <tr>
      <td></td>
      <td><%= link_to update.version, [extension, update]  %></td>
      <td><%= update.date.strftime("%-m/%-d/%Y")  %></td>
      <%= form_with model: [extension, update] do |form| %>
        <td><%= form.check_box :reviewed, onchange: 'Rails.fire(this.form, "submit")'  %></td>      
      <% end %>
    </tr>
  <% end %>
</tbody>