<%= form_with model: extension, id: 'new-extension-form' do |form| %>
  <% if extension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extension.errors.count, "error") %> prohibited this extension from being saved:</h2>

      <ul>
        <% extension.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm">
      <%= form.text_field :name, class: "form-control mr-2", placeholder: "Extension Name" %>
    </div>
    <div class="col-sm">
      <%= form.text_field :url, class: "form-control mr-2", placeholder: "Extension URL" %>
    </div>
    <div class="col-sm">
      <div class="actions">
        <%= form.submit "Add", class: "btn btn-sourcecon mr-2" %>
      </div>
    </div>
  </div>
<% end %>
