<% if update.reviewed == false %>
  <% row_class = "sourcecon-highlight" %>
<% else %>
  <% row_class = " " %>
<%  end %>
<tr id = "update-row-<%= update.id %>" class="<%= row_class %>">
  <td></td>
  <td class="text-center"><%= link_to update.version, [update.extension, update]  %></td>
  <td class="text-center"><%= update.date.strftime("%-m/%-d/%Y")  %></td>
  <%= form_with model: [update.extension, update] do |form| %>
    <td class="text-center" id="checkbox-<%= update.id %>">
      <%= render "checkbox", :update => update %>
    </td>      
  <% end %>
  <td class="edit-cell"></td>
  <td class="delete-cell"></td>
</tr>
