<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <table class="table table-hover">
    <% @extensions.each do |extension| %>
      <thead class="thead-dark">
        <tr>
          <th><%= link_to extension.name, extension.url %></th>
          <th></th>
          <th><%= link_to 'Edit', edit_extension_path(extension) %></th>
          <th><%= link_to 'Delete', extension, method: :delete, data: { confirm: 'Are you sure?' } %></th>
        </tr>
      </thead>
      <thead class="thead-light">      
        <tr>
          <th></th>
          <th>Version</th>
          <th>Date Updated</th>
          <th>Reviewed?</th>
        </tr>
      </thead>
      <tbody>
        <% extension.updates.each do |update| %>
          <tr>
            <td></td>
            <td><%= link_to update.version, [extension, update]  %></td>
            <td><%= update.date.strftime("%-m/%-d/%Y")  %></td>
            <%= form_for [extension, update] do |form| %>
              <td><%= form.check_box :reviewed  %></td>      
              <%= form.submit %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>


  <%= link_to 'New Extension', new_extension_path %>
</div>